* {
    margin: 0;
    padding: 0;
}

body,
button {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.top {
    height: 1024px;
    background-image: url(img/topbg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 70px;
        padding-top: 217px;
        padding-bottom: 32px;
    }

    &__text {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;

        &_parameters {
            padding-bottom: 44px;
            max-width: 481px;
        }

        &_bold {
            font-weight: 700;
        }
    }

    &__button {
        border-radius: 30px;
        border: none;
        background: rgb(156, 3, 50);
        width: 234px;
        height: 49px;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
    }
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.game {
    background-position: center;
    background-size: cover;
    width: 378px;
    height: 300px;
    border-radius: 17px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    &:hover {
        cursor: url("img/cursor.svg"), pointer;
        box-sizing: border-box;
        border: 3px solid rgb(68, 210, 255);
    }

    &_1 {
        background-image: url(img/game_1.jpeg);
    }

    &_2 {
        background-image: url(img/game_2.jpeg);
    }
    
    &_3 {
        background-image: url(img/game_3.jpeg);
    }
    
    &__text {
        padding-left: 32px;
        padding-bottom: 32px;
    }

    &-box {
        background-color: rgb(0, 9, 21);
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 32px;
        padding-top: 128px;
        padding-bottom: 128px;
    }
        
    &-button {
        @extend .top__button;
    }

    &-block{
        width: 584px;
        
        &__title {
            color: rgb(255, 255, 255);
            font-size: 48px;
            font-weight: 700;
            line-height: 59px;
            text-align: left;
        }
        
        &__text {
            @extend .top__text;

            &_padding {
                padding-top: 32px;
                padding-bottom: 32px;
            }
        }

        &-box {
            background-color: rgb(0, 9, 21);
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            gap: 135px;
            padding-top: 233px;
            padding-bottom: 233px;

            &_parameters {
                padding-top: 239px;
                padding-bottom: 239px;
                flex-direction: row-reverse;
            }
        }

        &-riddles {
            background: linear-gradient(180.00deg, rgb(0, 9, 21), rgba(0, 0, 0, 0) 100%), linear-gradient(180.00deg, rgba(0, 0, 0, 0) -7.355%, rgb(0, 9, 21) 100%), url(img/gaming-mouse-bg.jpeg), rgb(0, 9, 21);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 276px;
            padding-bottom: 288px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &__title {
                color: rgb(255, 255, 255);
                font-family: 'Montserrat', sans-serif;
                font-size: 48px;
                font-weight: 700;
                line-height: 59px;
            }
            
            &__text {
                color: rgb(255, 255, 255);
                font-size: 18px;
                font-weight: 300;
                line-height: 32px;
                padding-top: 32px;
                padding-bottom: 32px;
                text-align: center;
            }
        }
    }
}

button:hover {
    background: rgb(235, 68, 63);
    cursor: url("img/cursor.svg"), pointer;
}

.footer {
    background-color: rgb(0, 9, 21);

    &__text {
        color: rgb(255, 255, 255);
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        text-align: center;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

@import 'mobile';